/* Generic */
:root {
  --orange-color: #ff5900;
  --header-color: #000;
  --title-color: #21252b;
  --body-color: #282c34;
  --text-color: #abb2bf;
}

@import url("https://fonts.googleapis.com/css2?family=Changa&family=Orbitron&display=swap");

h1 {
  color: #ffc107;
}

.section {
  text-align: center;
  font-size: 3em;
}

body {
  font-family: "Staatliches", cursive !important;
  background-color: var(--body-color) !important;
  color: var(--text-color) !important;
}
hr {
  background-color: var(--text-color);
  width: 85%;
}

/* Header */
#header {
  background-color: var(--header-color);
}

/* body */
#publishButton {
  background-color: #ffc107;
}

/* Footer */
footer {
  text-align: center !important;
  font-size: 18px !important;
  background-color: var(--header-color);
}

.btn-outline-github {
  background: #181c24;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 2rem;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 10px;
}

.btn-outline-github:hover {
  background: #ffffff;
  border: 2px solid #181c24;
  color: #181c24;
}

#socialButton {
  margin-right: 10px;
  color: #ffffff;
  text-decoration: none;
}

#socialButton:hover {
  color: #ffffff;
  text-decoration: underline;
}
