/* Generic */
:root {
  --accent-color: #ffc107;
  --header-footer-color: #000000;
  --footer-text-color: #ffffff;
  --body-color: #282c34;
  --text-color: #abb2bf;
}

h1 {
  color: var(--accent-color);
}

.section {
  text-align: center;
  font-size: 3em;
}

body {
  font-family: "Staatliches", cursive;
  background-color: var(--body-color);
  color: var(--text-color);
}

hr {
  background-color: var(--text-color);
  width: 85%;
}

/* Header */
#header {
  background-color: var(--header-footer-color);
}

/* body */
#publishButton {
  background-color: var(--accent-color);
}

#publishButton:hover,
#publishButton:window-inactive {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* Index */

input::placeholder,
textarea::placeholder {
  color: var(--text-color) !important;
}

/* Footer */
footer {
  text-align: center;
  background-color: var(--header-footer-color);
}

.btn-outline-github {
  background: #181c24;
  border: 2px solid var(--footer-text-color);
  color: var(--footer-text-color);
  font-size: 2rem;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  padding: 0;
  margin-right: 10px;
}

.btn-outline-github:hover {
  background: var(--footer-text-color);
  border: 2px solid #181c24;
  color: #181c24;
}

#socialButton {
  margin-right: 10px;
  color: var(--footer-text-color);
  text-decoration: none;
}

#socialButton:hover {
  color: var(--footer-text-color);
  text-decoration: underline;
}
